<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FirstTaskPath" value="Input\task1.xml"/>
    <add key="LastStatePath" value="laststate.xml"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
